.map_canvas {
  width: 450px;
  height: 450px;
  display: block;
}

.hidden {
  display: none;
}

#slideshow {
margin-left:auto;
margin-right:auto;

}

.float_left {
  float: left;
}

#cbe {
  padding-right: 35px;
}

.float_right {
  float: right;
}

.center {
  text-align: center;
}
