.map_canvas {
  width: 450px;
  height: 450px;
  display: block;
}

.hidden {
  display: none;
}

#slideshow {
  left: 30%;
  right: 30%;
  position: relative;
}

.float_left {
  float: left;
}

#cbe {
  padding-right: 35px;
}

.float_right {
  float: right;
}
